* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}



body {

  background: #0b0b0b;

  font-family: Arial, sans-serif;

}



.hero {

  position: relative;

  height: 100vh;

  width: 100%;

  overflow: hidden;

}



.hero video {

  width: 100%;

  height: 100%;

  object-fit: cover;

}



.mask-text {

  position: absolute;

  inset: 0;

  display: flex;

  align-items: center;

  justify-content: center;



  font-size: 10vw;

  font-weight: 900;

  text-transform: uppercase;



  color: transparent;

  background: black;



  -webkit-mask-image: linear-gradient(black, black);

  -webkit-mask-clip: text;

  -webkit-mask-composite: xor;



  mask-image: linear-gradient(black, black);

  mask-clip: text;

}
